{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, master}}},
  {minidb,
    {git, "https://github.com/hachreak/minidb.git", {branch, master}}},
  {uuid,
    {git, "https://github.com/avtobiff/erlang-uuid.git",
      {branch, master}}},
  {limitless,
    {git, "https://github.com/hachreak/limitless.git", {branch, "master"}}},
  {swagger_routerl,
    {git, "https://github.com/hachreak/swagger_routerl.git", {branch, master}}}
]}.
{plugins, [rebar3_run]}.
